<!DOCTYPE html>
<html lang="ko">
<head>
        <meta charset="utf-8">
        <title>Todo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Import Google Icon Font-->
        <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css"  media="screen,projection"/>
</head>
<body>
        <div class="main">
                <div id="options">
                        <a class="waves-effect waves-light btn" id="add_button">할 일 추가</a>
                </div>

                <div id="todos">
                        <span>Todo</span>
                        <ul class="collection">
                                {% for info in infos %}
                                        <li class="collection-item">
                                                <span style="font-weight:bold;" class="title">{{info['title']}}
                                                        <a href="/up/{{info['id']}}"><img alt="우선순위 올림"src="../static/img/up.png"/></a>
                                                </span>
                                                <p>{{info['content']}}
                                                        <a href="/down/{{info['id']}}"><img alt="우선순위 올림" src="../static/img/down.png"/></a>
                                                </p>
                                                {% if info['due_date'] %}
                                                        <p>info['due_date'] 마감</p>
                                                {% endif%}
                                                <a class="waves-effect waves-light btn" href="/done/{{info['id']}}" id="done_button">완료</a>
                                                <a class="waves-effect waves-light btn" href="/edit/{{info['id']}}" id="edit_button">수정</a>
                                                <a class="waves-effect waves-light btn" href="/remove/{{info['id']}}" id="remove_button">삭제</a>
                                        </li>
                                {% endfor %}
                        </ul>
                </div>
                <div id="dones">
                        <span>Done</span>
                </div>
        </div>
        <script type="text/javascript" src="../static/js/materialize.min.js"></script>
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
