<!DOCTYPE html>
<html lang="ko">
<head>
        <meta charset="utf-8">
        <title>Todo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Import Google Icon Font-->
        <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css"  media="screen,projection"/>
</head>
<body>
        <div class="main">
                <div id="options">
                        <a class="waves-effect waves-light btn" id="add_button">추가</a>
                </div>
                <div id="todos">
                        <ul class="collection">
                                {% for info in infos %}
                                        <li class="collection-item">
                                                <span style="font-weight:bold;" class="title">{{info['title']}}</span>
                                                <p>{{info['content']}}</p>
                                                {% if info['due_date'] %}
                                                        <p>info['due_date'] 까지</p>
                                                {% endif%}
                                                <a class="waves-effect waves-light btn" id="finish_button">완료</a>
                                        </li>
                                {% endfor %}
                        </ul>
                </div>
        </div>
        <script type="text/javascript" src="../static/js/materialize.min.js"></script>
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
