.main{
    margin:auto;
    width: 50%;
    margin-top: 10rem;
}
img{
    float: right;
    cursor: pointer;
}
a{
    display: content;
    cursor: pointer;
}
#remove_button{
    background-color: #E57373;
}
#done_button{
    background-color: #1b95e0;
}
#add_button, #cancel_button{
    margin-bottom: 1rem;
}
.list{
    margin-top: 5rem;
}
.waves-button-input{
    cursor: pointer;
    color: white;
}
.alert{
    background-color: #f2dede;
    border-color: #f2dede;
    border-radius: 5px;
    margin-bottom: 1rem;
    color: #a94442;
    padding: 0.5rem;
}