<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Todo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="../static/img/favicon.png"/>
        <link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css"  media="screen,projection"/>
</head>
<body>
        <div class="main">
                <div id="options">
                        {% for title in alerts %}
                                <div class="alert">
                                        <a onclick="removeAlert(this)">&times;</a>
                                        {{texts[0]}} : {{title}}
                                </div>
                        {% endfor %}
                        {% if mode%}
                                <a href='/' class="waves-effect waves-light btn" id="cancel_button">{{texts[1]}}</a>
                                <a href='/readyToAdd' class="waves-effect waves-light btn" id="add_button" style="display: none">{{texts[2]}}</a>
                        {% else %}
                                <a href='/' class="waves-effect waves-light btn" id="cancel_button" style="display:none;">{{texts[1]}}</a>
                                <a href='/readyToAdd' class="waves-effect waves-light btn" id="add_button">{{texts[2]}}</a>
                        {% endif %}
                        {% if makeForm %}
                        <div class="row">
                                {% if mode == 1 %}
                                <form class="col s12" action="/modify/{{info['id']}}" method = "get">
                                {% else %}
                                <form class="col s12" action="/add" method = "get">
                                {% endif %}
                                        <div class="row">
                                                <div class="input-field col s12">
                                                        {% if mode == 1 %}
                                                        <textarea name="title" id="title" class="materialize-textarea">{{info['title']}}</textarea>
                                                        {% else %}
                                                        <textarea name="title" id="title" class="materialize-textarea"></textarea>
                                                        {% endif %}
                                                        <label for="title">{{texts[3]}}</label>
                                                </div>
                                        </div>
                                        <div class="row">
                                                <div class="input-field col s12">
                                                        {% if mode == 1%}
                                                        <textarea name="content" id="content" class="materialize-textarea">{{info['content']}}</textarea>
                                                        {% else %}
                                                        <textarea name="content" id="content" class="materialize-textarea"></textarea>
                                                        {% endif %}
                                                        <label for="content">{{texts[4]}}</label>
                                                </div>
                                        </div>
                                        {% if mode == 1 %}
                                        <div class="row">
                                                <div class="input-field col s12">
                                                        <input type="text" onkeypress="keypress(event)" class="datepicker" name="due_date" value="{{info['due_date']}}">
                                                        <label for="content">{{texts[5]}}</label>
                                                </div>
                                        </div>
                                        {% endif %}
                                        <input type = "submit" class="waves-effect waves-light btn" id="submit_button" value="{{texts[6]}}"/>
                                </form>
                        </div>         
                        {% endif %}              
                </div>

                <div class="list" id="todos">
                        <span>{{texts[7]}}</span>
                        <ul class="collection">
                                {% for info in todos %}
                                        <li class="collection-item">
                                                <span style="font-weight:bold;" class="title">{{info[1]}}
                                                        <a href="/up/{{info[0]}}" title="{{texts[8]}}"><img src="../static/img/up.png"/></a>
                                                </span>
                                                <p>{{info[2]}}
                                                        <a href="/down/{{info[0]}}" title="{{texts[9]}}"><img src="../static/img/down.png"/></a>
                                                </p>
                                                {% if info[3] %}
                                                        <p>{{texts[5]}} : {{info[3]}}</p>
                                                {% endif%}
                                                <a class="waves-effect waves-light btn" href="/done/{{info[0]}}" id="done_button">{{texts[10]}}</a>
                                                <a class="waves-effect waves-light btn" href="/edit/{{info[0]}}" id="edit_button">{{texts[11]}}</a>
                                                <a class="waves-effect waves-light btn" href="/remove/{{info[0]}}" id="remove_button">{{texts[12]}}</a>
                                        </li>
                                {% endfor %}
                        </ul>
                </div>
                <div class="list" id="dones">
                        <span>{{texts[13]}}</span>
                        <ul class="collection">
                                {% for info in dones %}
                                        <li class="collection-item">
                                                <span style="font-weight:bold;" class="title">{{info[0]}}</span>
                                                <p>{{info[1]}}</p>
                                                <p>{{info[2]}} {{texts[10]}}</p>
                                        </li>
                                {% endfor %}
                        </ul>
                </div>
        </div>
        <script type="text/javascript" src="../static/js/materialize.min.js"></script>
        <link href="../static/css/main.css" rel="stylesheet">
        <script type="text/javascript" src="../static/js/main.js"></script>
</body>
</html>
