<!DOCTYPE html>
<html lang="ko">
<head>
        <meta charset="utf-8">
        <title>Todo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="../static/img/favicon.png"/>
        <link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css"  media="screen,projection"/>
</head>
<body>
        <div class="main">
                <div id="options">
                        {% for title in alerts %}
                                <div class="alert">
                                        <a onclick="removeAlert(this)">&times;</a>
                                        마감 기한이 지났습니다 : {{title}}
                                </div>
                        {% endfor %}
                        {% if edit %}
                                <a href='/' class="waves-effect waves-light btn" id="cancel_button">취소</a>
                                <a class="waves-effect waves-light btn" id="add_button" style="display: none">할 일 추가</a>
                        {% else %}
                                <a href='/' class="waves-effect waves-light btn" id="cancel_button" style="display:none;">취소</a>
                                <a class="waves-effect waves-light btn" id="add_button">할 일 추가</a>
                        {% endif %}
                        {% if edit %}
                                <div class="row">
                                        <form class="col s12" action="/modify/{{info['id']}}" method = "get">
                                                <div class="row">
                                                        <div class="input-field col s12">
                                                                <textarea name="title" id="title" class="materialize-textarea">{{info['title']}}</textarea>
                                                                <label for="title">제목</label>
                                                        </div>
                                                </div>
                                                <div class="row">
                                                        <div class="input-field col s12">
                                                                <textarea name="content" id="content" class="materialize-textarea">{{info['content']}}</textarea>
                                                                <label for="content">내용</label>
                                                        </div>
                                                </div>
                                                <div class="row">
                                                        <div class="input-field col s12">
                                                                {% if info['due_date'] == None %}
                                                                        <input type="text" class="datepicker" name="due_date">
                                                                {% else %}
                                                                        <input type="text" class="datepicker" name="due_date" value="{{info['due_date']}}">
                                                                {% endif %}
                                                                <label for="content">마감 시간</label>
                                                        </div>
                                                </div>
                                                <input type = "submit" class="waves-effect waves-light btn" id="submit_button" value="변경"/>
                                        </form>
                                </div>
                        {% endif %}
                </div>

                <div class="list" id="todos">
                        <span>할 일</span>
                        <ul class="collection">
                                {% for info in todos %}
                                        <li class="collection-item">
                                                <span style="font-weight:bold;" class="title">{{info['title']}}
                                                        <a href="/up/{{info['id']}}" title="우선순위 올림"><img alt="우선순위 올림" src="../static/img/up.png"/></a>
                                                </span>
                                                <p>{{info['content']}}
                                                        <a href="/down/{{info['id']}}" title="우선순위 내림"><img alt="우선순위 내림" src="../static/img/down.png"/></a>
                                                </p>
                                                {% if info['due_date'] %}
                                                        <p>{{info['due_date']}} 마감</p>
                                                {% endif%}
                                                <a class="waves-effect waves-light btn" href="/done/{{info['id']}}" id="done_button">완료</a>
                                                <a class="waves-effect waves-light btn" href="/edit/{{info['id']}}" id="edit_button">수정</a>
                                                <a class="waves-effect waves-light btn" href="/remove/{{info['id']}}" id="remove_button">삭제</a>
                                        </li>
                                {% endfor %}
                        </ul>
                </div>
                <div class="list" id="dones">
                        <span>완료한 일</span>
                        <ul class="collection">
                                {% for info in dones %}
                                        <li class="collection-item">
                                                <span style="font-weight:bold;" class="title">{{info['title']}}</span>
                                                <p>{{info['content']}}</p>
                                                <p>{{info['due_date']}} 완료</p>
                                        </li>
                                {% endfor %}
                        </ul>
                </div>
        </div>
        <script type="text/javascript" src="../static/js/materialize.min.js"></script>
        <link href="../static/css/main.css" rel="stylesheet">
        <script type="text/javascript" src="../static/js/main.js"></script>
</body>
</html>
